  
  .app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .page {
    height: 92vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1em;
  }
  
  .page::-webkit-scrollbar {
    display: none;
  }
  
  .content {
    flex-grow: 1;
    
  }


  h1 {
    color: black;
  }
  
  p,
  h2,
  h3,
  h4 {
    color: black;
  }
  
  :root {
    background-size: auto 100vh;
    background-position-x: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  $breakpoint-largeScreen: 500px;
  @media (min-width: $breakpoint-largeScreen) {
    :root {
      background-size: cover;
      background-position-y: center;
    }
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  